<%- include('boilerplate/header') %>


  <div style="color:white; margin-top:10%; font-size:150%;">
    <center><h1>Movie Recommendation</h1></center>
<center>
<p style="font-size:20px;">In today's digital age, where countless movies are readily available across various streaming platformsfinding the perfect film to suit your mood and preferences can be a daunting task. Fortunately, the world of movie recommendation systems has emerged as a savior for cinephiles and casual viewers alike.
  Thanks to the magic of movie recommendation technology.</p>
  </center>
</div>



<%- include('boilerplate/footer') %>
